//MIXINS utilizados no menu Sass
//@mixin borda-arredondada($raio: 10em){
//  -webkit-border-radius: $raio;
//  border-radius: $raio;

  /**
  -moz-border-radius: $raio;
  -o-border-radius: $raio;
  -ms-border-radius: $raio;
  **/
//}


//@mixin sombra-padrao{
//  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//}

//Criação placeholder
//%sombra-padrao{
//  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
//}

//@mixin image-replacement{
//  text-indent: -9999px;
//  overflow: hidden;
//  background-repeat: no-repeat;
//}


// criação placeholder
%image-replacement{
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

@function multiplica-pela-fonte ($multiplicador){
	@return round($multiplicador * $tamanho-da-fonte-padrao);
}

//importados do compass (box-shadow - sombra-padrao, border-radius - borda-arredondada)
@import "compass/css3";

@import "compass/utilities";